 * {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
  .navbar {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.myweb{
    font-size: 25px
}

.navbar-btns{
   display: flex;
}

.login-btn{
    padding: 13px 20px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    background-color: rgb(117, 117, 255);
    color: white;
}
.sign-btn{
  padding: 13px 20px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    background-color: rgb(51, 198, 51);
    color: white;
    margin-left: 20px;
}

/*modalllllllllll*/
.modal {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
      position: fixed;
     inset: 0;
}

 .modal.active {
        display: flex;
      }
      .modal-content {
        width: 400px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: white;
      }

      /*Dizayn login*/

      .display{
        display: flex;
        justify-content: space-around;
        gap: 140px;
      }

      label{
        width: 89%;
      }
      input{
        width: 90%;
        height: 4vh;
        border-radius: 8px;
        padding: 5px;
        border: 1px solid  rgb(118, 111, 111);
      }

      .btn-login{
        width: 150px;
        padding: 10px 20px;
        margin-top: 15px;
      }

    
      























































      /* ,,,*/

      .modall {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
      position: fixed;
     inset: 0;
}

 .modall.active {
        display: flex;
      }
      .modal-content {
        width: 300px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: white;
      }
